[submodule "Assets/_/Scripts/ApiBridge"]
	path = Assets/_/Scripts/ApiBridge
	url = https://github.com/SnowDINN/Redbean-API-Unity-Bridge.git
[submodule "Unity-Submodule-MVP"]
	path = Assets/_/Submodules/Unity-Submodule-MVP
	url = https://github.com/SnowDINN/Unity-Submodule-MVP.git
[submodule "Unity-Submodule-Jenkins"]
	path = Assets/_/Submodules/Unity-Submodule-Jenkins
	url = https://github.com/SnowDINN/Unity-Submodule-Jenkins.git
[submodule "Unity-Submodule-Utility"]
	path = Assets/_/Submodules/Unity-Submodule-Utility
	url = https://github.com/SnowDINN/Unity-Submodule-Utility.git
