<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517818090277-u8kd216u52ul2558clbeheahm21c9ne5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517818090277-u8kd216u52ul2558clbeheahm21c9ne5</string>
	<key>API_KEY</key>
	<string>AIzaSyBmK_GS7DWMoxQy5utCs8HZ1cZpwTkn2mU</string>
	<key>GCM_SENDER_ID</key>
	<string>517818090277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Redbean.BoongGOD</string>
	<key>PROJECT_ID</key>
	<string>boonggod-67483</string>
	<key>STORAGE_BUCKET</key>
	<string>boonggod-67483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517818090277:ios:6bde3a83ea15c421cbd0cc</string>
	<key>DATABASE_URL</key>
	<string>https://boonggod-67483-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>